@charset "UTF-8";

.myform {
  padding: 10px;
}

.myform input[name='vCode'] {
  width: 65%;
}
.myform .getCode {
  width: 30%;
  height: 40px;
  line-height: 40px;
  padding: 0;
}

.myform .getCode.now {
  background-color: #ccc;
  border-color: #ccc;
}

.btn_regiater {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0;
}

.free_register {
  float: right;
  font-size: 12px;
}