@charset "UTF-8";



.lt-history {
  padding: 10px;
  font-size: 12px;
  color: #666;
  margin-top: 10px;
}

.lt-history .lt-title span {
  height: 30px;
  line-height: 30px;
  color: #007aff;
}

.lt-history .lt-content ul {
  border: 1px dashed #ccc;
}

.lt-history .lt-content li {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  font-size: 12px;
  color: #666;
  border-bottom: 1px dashed #ccc;
} 

.lt-history .lt-content li a {
  color: #666;
}

.lt-history .lt-content li span {
  /* float: right; */
  height: 30px;
  line-height: 30px;
  color: #666;
}

.lt-history .lt-content li:last-child {
  border-bottom: 0;
}