@charset "UTF-8";

.category-left {
  width: 90px;
  height: 100%;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  float: left;
}

.category-left li a {
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
  background-color: pink;
  font-size: 16px;
}

.category-left li a.now {
  background: #fff;
  border-right:none;
}

.category-right {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.category-right .item {
  width: 33.3333%;
  padding: 10px;
  text-align: center;
  float: left;
}

.category-right .item img {
  width: 62px;
  height: 62px;
  display: block;
  margin: 0 auto;
}