@charset "UTF-8";

.lt-main .lt-nav {
  height: 30px;
  line-height: 30px;
  background-color: #eee;
}

.lt-main .lt-nav li {
  float: left;
  width: 25%;
  text-align: center;
  font-size: 12px;
}

.lt-main .lt-nav li a {
  color: #666;
}

.lt-main .product {
  width: 100%;
}

.lt-main .product .item {
  width: 46%;
  margin: 10px 2% 0;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  float: left;
}

.lt-main .product .item .price {
  color: red;
  padding-right: 5px;
}
.lt-main .product .item .oldPrice {
  text-decoration: line-through;
}

